.wrapper {
  position: relative;
  display: inline-block; /* 버튼과 그림자가 함께 움직이도록 래퍼 생성 */
}

.button {
  border: 2px solid #0F172A;
  border-radius: 24px; /* 직사각형 및 원형 모두 지원하기 위해 */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 2; /* 상단에 위치하도록 설정 */
}

.buttonShadow {
  background-color: #0F172A; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  border-radius: 36px; 
  width: 100%; 
  height: 100%;
  position: absolute;
  top: 4px; 
  left: 3.65px;
  z-index: 1;
}

.iconButton {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.textButton {
  padding: 10px 20px;
}

.text {
  margin-left: 8px;
  font-size: 16px;
  color: #1E293B; /* slate/800 */
}
