.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 56px;
}

.searchContainer {
  position: relative;
  border: 2px solid #0F172A;
  border-radius: 24px;
  display: flex;
  padding: 14px 24px;
  width: 100%; 
  z-index: 2;
  background-color: #F1F5F9; /* 배경색 (연한 Slate) */
}

.shadow {
  background-color: #0F172A;  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);  
  border-radius: 36px;  
  width: 100%;  
  height: 100%;
  position: absolute;
  top: 4px;  
  left: 3.65px;
  z-index: 1;
}

.searchInput {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  color: #0F172A; /* 텍스트 색상 */
  z-index: 3;
  background: transparent;
}

.searchInput::placeholder {
  color: #64748B; /* Placeholder 텍스트 색상 */
}

