.wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 56px;
}

.searchContainer {
  position: relative;
  border: 2px solid var(--slate-900);
  border-radius: 24px;
  display: flex;
  padding: 14px 24px;
  width: 100%; 
  z-index: 2;
  background-color: var(--slate-100); 
}

.shadow {
  background-color: var(--slate-900);  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);  
  border-radius: 36px;  
  width: 100%;  
  height: 100%;
  position: absolute;
  top: 2px;  
  left: 2px;
  z-index: 1;
}

.searchInput {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--slate-900); /* 텍스트 색상 */
  z-index: 3;
  background: transparent;
}

.searchInput::placeholder {
  color: var(--slate-500); /* Placeholder 텍스트 색상 */
}

