/* 전체 컨테이너 */
.container {
  display: flex;
  border: 2px solid #1E293B;
  border-radius: 24px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 50px;
}

.checkedContainer {
  background-color: #EDE9FE;
}

/* 그룹 박스 */
.checkboxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 16px;
  /* position: absolute;
  width: 158px;
  height: 32px; */
  position: relative; /* Changed from absolute to relative for better layout control */
  width: auto; /* Allow width to adjust based on content */
  height: auto; /* Allow height to adjust based on content */
  left: 12px;
  top: 9px;
}

/* 텍스트 라벨 */
.label {
  font-family: 'NanumSquare', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #1E293B; /* slate/800 */
  display: flex;
  align-items: center;
  text-align: center;
  /* width: 110px; */
  width: auto;
  height: 18px;
}

.checkedLabel {
  text-decoration: line-through;
}