/* 전체 컨테이너 */
.container {
  display: flex;
  border: 2px solid var(--slate-800);
  border-radius: 24px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 50px;
}

.checkedContainer {
  background-color: var(--violet-100);
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 16px;
  position: relative; 
  width: auto; 
  height: auto;
  left: 12px;
  top: 9px;
}

.label {
  font-family: 'NanumSquare', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--slate-800); 
  display: flex;
  align-items: center;
  text-align: center;
  width: auto;
  height: 18px;
}

.checkedLabel {
  text-decoration: line-through;
}

.inputLabel {
  background-color: transparent;
}