.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #1E293B; /* 검은 테두리 배경 */
  border-radius: 25px;
  width: 100%; /* 원하는 너비에 맞게 수정 */
  max-width: 600px; /* 최대 너비 설정 */
}

.searchInput {
  width: 100%;
  padding: 12px 16px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #64748B; /* 텍스트 색상 */
  background-color: #F1F5F9; /* 입력 창 배경색 */
  border-radius: 25px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.searchInput::placeholder {
  color: #94A3B8; /* Placeholder 텍스트 색상 */
}

.searchInput:focus {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}
