:root {
  --nanum-square-bold-20: font-family: 'NanumSquare', sans-serif; font-weight: bold; font-size: 20px;
  --nanum-square-bold-18: font-family: 'NanumSquare', sans-serif; font-weight: bold; font-size: 18px;
  --nanum-square-bold-16: font-family: 'NanumSquare', sans-serif; font-weight: bold; font-size: 16px;
  --nanum-square-regular-16: font-family: 'NanumSquare', sans-serif; font-weight: normal; font-size: 16px;
}
