.mainDetail {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.mainNav {
  display: flex;
  gap: 24px;
  width: 100%;
}

@media (max-width: 1199px) {
  .mainNav {
      display: block; 
    }

  .mainNav > *:not(:last-child) { 
    margin-bottom: 24px; 
  }
}

.buttonNav {
  display: flex;
  gap: 16px;
  height: 56px;
  justify-content: flex-end;
  
}

@media(max-width: 1199px) {
  .buttonNav {
    justify-content: center;
    align-items: center;
  }
}